body{
    background-color: #1c1e21;
}
section {
    align-items: center;
    font-style: normal;
    font-family: 'multi', sans-serif;

}

h1 {
    color: #fff;
    text-align: center;
}

p {
    color: #fff;
    text-align: center;
}

button {
    background-color:antiquewhite ;
    justify-content:center ;
    padding: 15px 25px;
    text-decoration: none;
    cursor: pointer;
    border: none;
    margin: -20px -50px; 
    position:relative;
    top:50%; 
    left:50%;
}

button:hover{
    color:rgb(255, 255, 255);
    background-color: rgb(176, 179, 184);
}
